
<%# Renders a partial which is used to create a new health_tip %>

<%= form_for(@product_type, :html => {:id=>"form_product_type", :multipart => true, :class=>"mb-0 form-horizontal", :role => "form", :method => (@product_type.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="modal-body">

    <%= @product_type.errors[:base].to_sentence %>

    <%= hidden_field_tag :faction, @product_type.new_record? ? product_types_path : product_types_path(@product_type) %>
    <%= hidden_field_tag :fmethod, @product_type.new_record? ? "POST" : "PUT" %>

    <div class="form-inputs">

      <!-- Title (string) -->
      <%= render :partial=>"field", :locals=>{:object=>@product_type,
                                              :object_name=>'product_type',
                                              :field_name=>'product_type_name',
                                              :display_name=>'Product Type Name',
                                              :field_type=>'string',
                                              :input_type=>'text',
                                              :required=>true,
                                              :place_holder=>"e.g: Put a suitable example here."} %>


      <%= render :partial=>"field", :locals=>{:object=>@product_type,
                                              :object_name=>'product_type',
                                              :field_name=>'product_category_id',
                                              :display_name=>'Product Category',
                                              :field_type=>'integer',
                                              :input_type=>'select',
                                              :required=>true,
                                              :place_holder=>"e.g: Put a suitable example here."} %>


      <%= render :partial=>"field", :locals=>{:object=>@product_type,
                                              :object_name=>'product_type',
                                              :field_name=>'product_type_name',
                                              :display_name=>'Product Color',
                                              :field_type=>'string',
                                              :input_type=>'colorpicker',
                                              :required=>true,
                                              :place_holder=>"e.g: Put a suitable example here."} %>



    </div>
  </div>

  <div class="modal-footer">

    <div class="pull-right">
      <% button_text = "#{@product_type.new_record? ? "Create" : "Update"} Product Type" %>
     <%= link_to 'Cancel', product_types_path, :class => "btn btn-default" %>
      <%= submit_tag button_text, "data-reset-text"=>button_text, "data-loading-text"=>"Saving ...", :class=>"btn btn-primary ml-10 staff_warning" %>
    </div>

  </div>

  <div class="cl-10"></div>

<% end %>