<ul class="nav nav-pills nav-stacked">

  <li class="<%= nav_class("Product Category") %>">
    <%= link_to raw("Product Category"), product_categories_path %>
  </li>
   <li class="<%= nav_class("Product Type") %>">
    <%= link_to raw("Product Type"), product_types_path %>
  </li>

<li class="<%= nav_class("Product Details") %>">
    <%= link_to raw("Product Details"), product_details_path %>
  </li>


</ul>